# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### WordPress ###
*.log
bin/*
site/*
vendor/*

## Change below according your project environment ##
config/env/*
content/backup/*
content/cache/*
content/plugins/*
content/upgrade/*
content/uploads/*
content/themes/*

# Re-include env config example #
!config/env/development-example.php

# Re-include project theme #
# !content/themes/rdt-randr15

# Sample images #
src/image/sample/*

.htaccess
sitemap.xml
sitemap.xml.gz


### Frontend ###
node_modules/*
bower_components/*


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Notes and others scraps
note/*
!note/structure.TODO
screenshots/*
test/*

# You got the idea
secret/*