// -------------------------------------------------------------------------- *//
// Unit scale function for better typographical system
//
// @author Sirna
// @version 1.3.0
// @depends _sirna-parseInt.scss
//
// Proprietary 2015.
// -------------------------------------------------------------------------- *//

@function x($values, $line-height: 24px, $pixel-base: 16px) {

    $list: ();

    @each $value in $values {
        @if ($old) {
            $list: append($list, ($value * $line-height));
        }

        @else {
            $list: append($list, ($value * parseInt($line-height) / parseInt($pixel-base)) * 1rem );
        }
    }

    @return $list();
}
