#pcm_svg { position: absolute; }

.project-cover-outer {

    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-project-cover;
    @media only screen and ( orientation: landscape ) {
        min-height: 100vh;
        max-height: 100vh;
        height: 100vh;
    }
    @media only screen and ( orientation: portrait ) {
        min-height: 50vh;
        max-height: 50vh;
        height: 50vh;
    }

    .project-cover {

        position: relative;
        list-style: none outside none;
        padding: 0;
        overflow: hidden;

        height: 100%;
    }

    .project-cover-lists {

        position: relative;
        max-height: 100%;
        height: 100%;
        overflow: hidden;

        // Mask
        &.left {
            @media only screen and ( orientation: landscape ) {
                -webkit-mask-image:
                    -webkit-gradient(linear, right top, left top,
                    from(rgba(0, 0, 0, 0)),
                    color-stop(.2, rgba(0, 0, 0, 0)),
                    color-stop(1, rgba(0, 0, 0, 1)),
                    to(rgba(0, 0, 0, 1)));
                mask: url(#pcm_fade_right);
            }
        }

        &.right {
            @media only screen and ( orientation: landscape ) {
                -webkit-mask-image:
                    -webkit-gradient(linear, left top, right top,
                    from(rgba(0, 0, 0, 0)),
                    color-stop(.35, rgba(0, 0, 0, 0)),
                    color-stop(1, rgba(0, 0, 0, 1)),
                    to(rgba(0, 0, 0, 1)));
                mask: url(#pcm_fade_left);
            }
        }
    }

    .pci {
        width: 100vw;
        height: 100%;
    }

}

.project-cover-lists {

    .pci-outer {
        position: relative;
        overflow: hidden;

        @media only screen and ( orientation: landscape ) {
            min-height: 100vh;
            max-height: 100vh;
            height: 100vh;
        }

        @media only screen and ( orientation: portrait ) {
            min-height: 100%;
            max-height: 100%;
            height: 100%;
        }
    }

    &.full {

        .pci-outer {

            position: relative;
            overflow-x: hidden;
        }
    }

    &.half {

        &.left .pci-outer { left: auto; right: 0; }
        &.middle .pci-outer { float: none; margin: 0 auto; }
        &.right .pci-outer { left: 0; right: auto; }
    }
}


// FLEXSLIDER

.project-cover-outer {

    .flex-viewport {
        min-height: 100%;
        height: 100%;
    }

    .flex-control-nav {
        bottom: 0;
        width: 100vw;
    }

    &.right .flex-control-nav { left: -50%; }
    &.left .flex-control-nav { left: 0; }

    .flex-control-paging li a { border-radius: 0; }
}