.post-loop {

    @include clearfix;
    position: relative;

    min-width: 100vw;
    width: 100vw;

    z-index: $z-post-loop;

    padding: 0;
    @media only screen and ( orientation: landscape ) {
        padding-top: 100vh;
    }

    .faux-bg {
        pointer-events: none;
        position: absolute;
        right: 0; bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0;
        
        &.at-bottom {
            @media only screen and ( orientation: landscape ) {
                transition: opacity .3s ease-in .3s;
                opacity: 1;
            }
        }
    }

    .post {

        @include clearfix;
        float: left;
        position: relative;

        width: 100vw;
        height: 100vh;
        min-height: x(6);

        background-color: whitesmoke;

        &.w-full { width: 100vw; }
        &.h-full { height: 100vh; }
        &.w-half { width: 50vw; }
        &.h-half { height: 50vh; }
        // &.h-half.w-full { height: 100vh; }
        

        // &.w-full { width: 50vw; }
        // &.h-full { height: 50vh; }
        // &.w-half { width: 25vw; }
        // &.h-half { height: 25vh; }

        @media only screen and ( orientation: portrait ) {
            &.w-full { width: 100vw; }
            &.h-full { height: 100vh; }
            &.w-half { width: 100vw; }
            &.h-half { height: 100vh; }
        }

        .post-inner {
            position: relative;
            padding: x(.5);
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: 100%;
            overflow: hidden;

            // background-color: $grey;
        }

        .post-bg {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;

            display: block;
            margin: 0;

            text-decoration: none;

            opacity: 0;
        }

        .post-fg {
            @include clearfix;

            transition: top .5s ease-out;

            position: relative;
            top: 110%;
            padding: x(1);

            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: 100%;
            background-color: rgba( $white, .9 );
        }

        .post-fg-head {

            display: table;

            max-width: 50%;
            width: 50%;
            height: 100%;
            
            float: left;

            // position: absolute;
            // top: 0; left: 0;

            .post-fg-head-inner {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: 100%;
            }

            .post-title {
                width: 100%;
                margin: 0 0 x(.5);
                max-height: x(4);
                overflow-y: scroll;

                color: currentColor;

                a {
                    display: block;
                    width: 100%;
                    margin: 0;
                    text-decoration: none;

                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }

                text-transform: uppercase;
            }

            .post-term {
                width: 100%;
                max-height: x(4);
                overflow-y: scroll;

                color: currentColor;

                a {
                    display: block;
                    height: x(1);
                    width: inherit;
                    margin: 0;

                    text-decoration: none;
                    text-transform: uppercase;

                    color: inherit;
                }
            }
        }

        .post-fg-body {

            display: table;

            max-width: 50%;
            width: 50%;
            max-height: 100%;
            height: 100%;
            overflow-y: scroll;

            float: right;

            // position: absolute;
            // top: 0; right: 0;

            color: currentColor;
            
            p {
                display: table-cell;
                vertical-align: middle;

                margin: 0;

                text-transform: uppercase;
                text-align: right;

                color: inherit;
            }
        }
    }
}