.project-title-outer {

    position: relative;
    top: 50%;
    transform: translateY( -50% );

    float: left;
    z-index: $z-project-title;

    @media only screen and ( orientation: landscape ) {
        margin: 0;
        width: 33.333%;
    }

    @media only screen and ( orientation: portrait ) {
        top: 50vh;
        transform: translateY( -50vh );
        margin: 50vh 0 0 0;
        padding: x(2) 0;
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;
        height: 50vh;
        overflow: hidden;
    }

    &.left { float: left; }
    &.middle { float: none; margin: 0 auto; }
    &.right { float: right; text-align: right; }

    .project-title,
    .project-excerpt-outer {

        text-transform: uppercase;
        min-height: 0;
        max-height: 50%;
        height: auto;
        overflow: scroll;

        @media only screen and ( orientation: landscape ) {
            padding: 0 x( 1 );
        }

        @media only screen and ( orientation: portrait ) {
            padding: 0 x( 1 );
            max-width: 100vw;
        }

        @media only screen and ( orientation: portrait ) and ( min-width: 767px ) {
            float: inherit;
            max-width: 50vw;
            min-height: 50%;
            height: 50%;
            margin-top: 13vh;
            max-height: 50%;
        }
    }

    .project-title {
        letter-spacing: -0.03em;
        @media only screen and ( orientation: portrait ) {
            font-size: r(2.3125);
            line-height: x(2);
        }
    }

    .project-excerpt-outer {
        & > * {
            letter-spacing: -0.01em;
            color: inherit;
        }

        p {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
    }
}