// H
$min-bp-h: 0;
$max-bp-h: 479px;
// HL
$min-hl-h: 480px;
$max-hl-h: 767px;
// TP
$min-tp-h: 768px;
$max-tp-h: 980px;
// L
$min-l-h: 1250px;
$max-l-h: 1800px;
// HR
$min-hr-h: 1801px;
$max-hr-h: 6000px;