$black: #000;
$white: #FFF;
$grey:  #333;

$background-color: $white;
$text-color      : $black;
$text-color-dark : #333; /* For Mueller */
$text-color-light: #999; /* For Mueller */
$link-color      : $black;

$box-color: #FF5247; /* For Mueller */

$brand-c1        : $black;