$font-url: 'font/';

@include s-font-face( 'SansRegular', 'Raleway-Regular', $font-url, normal, normal );
@include s-font-face( 'SansHeavy', 'Raleway-ExtraBold', $font-url, normal, normal );
@include s-font-face( 'SansBold', 'Raleway-Medium', $font-url, normal, normal );
@include s-font-face( 'SansSemiBold', 'Raleway-SemiBold', $font-url, normal, normal );
@include s-font-face( 'SansMedium', 'Raleway-Medium', $font-url, normal, normal );
@include s-font-face( 'SansThin', 'Raleway-Thin', $font-url, normal, normal );
@include s-font-face( 'SansLight', 'Raleway-Light', $font-url, normal, normal );
@include s-font-face( 'SansCopy', 'Raleway-Regular', $font-url, normal, normal );
@include s-font-face( 'SansAlt', 'monospace', $font-url, normal, normal );

$ff-sans-heavy:     SansHeavy, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-bold:      SansBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-semibold:  SansSemiBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-medium:    SansMedium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-regular:   SansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-thin:      SansThin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-light:     SansLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-copy:      SansCopy, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-alt:       monospace, sans-serif;
$ff-sans-test:      SansBold, Georgia;