// ----------------------------------------------------------------------------\
// Compass Typography.
// ----------------------------------------------------------------------------/

$base-font-size: 16px;
$base-line-height: 24px;
$default-rhythm-border-style: solid;
$browser-default-font-size: 16px;
$round-to-nearest-half-line: false;
$min-line-padding: 2px !default;

@if ($old == false) {
  $font-unit: 1rem;
}
@else {
  $font-unit: 16px;
}

$base-rhythm-unit: $base-line-height / $base-font-size * $font-unit;
$base-leader: ($base-line-height - $base-font-size) * $font-unit / $base-font-size;
$base-half-leader: $base-leader / 2;
$base-border-radius: 0;

// ----------------------------------------------------------------------------\
// Site Typography.
// ----------------------------------------------------------------------------/

@if ($old == false) {
  $h1-font-size: 3.6875rem;
  $h1-line: 1.5rem;
}
@else {
  $h1-font-size: 59px;
  $h1-line: 72px;
}
$h1-lines: 2.5;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 1 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

@if ($old == false) {
  $h2-font-size: 2.3125rem;
  $h2-line: 1.5rem;
}
@else {
  $h2-font-size: 37px;
  $h2-line: 48px;
}
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 1 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

@if ($old == false) {
  $h3-font-size: 1.4375rem;
  $h3-line: 1.5rem;
}
@else {
  $h3-font-size: 23px;
  $h3-line: 24px;
}
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

@if ($old == false) {
  $h4-font-size: 0.875rem;
  $h4-line: 1.5rem;
}
@else {
  $h4-font-size: 14px;
  $h4-line: 24px;
}
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

$h_fz: (
  $h1-font-size,
  $h2-font-size,
  $h3-font-size,
  $h4-font-size
);

$h_lh: (
  $h1-line-height,
  $h2-line-height,
  $h3-line-height,
  $h4-line-height
);

$h_mt: (
  $h1-margin-top,
  $h2-margin-top,
  $h3-margin-top,
  $h4-margin-top
);

$h_mb: (
  $h1-margin-bottom,
  $h2-margin-bottom,
  $h3-margin-bottom,
  $h4-margin-bottom
);

@if ($old == false) {
  $p-font-size: .8125rem;
  $p-line: 1.5rem;
}
@else {
  $p-font-size: 13px;
  $p-line: 24px;
}
$p-lines: 1;
$p-line-height: $p-line * $p-lines;
$p-margin-top: .5 * $p-line;
$p-margin-bottom: 1 * $p-line;

// ----------------------------------------------------------------------------\
// Site Form.
// ----------------------------------------------------------------------------/

$grid-gutter-width: $base-line-height;
$legend-color: $black;
$legend-border-color: $black;
$padding-base-vertical: x(0.25);
$padding-base-horizontal: x(0.5);
$input-color: $grey;
$input-bg: $white;
$input-height-base: x(1.5);
$input-border: $black;
$input-border-radius: $base-border-radius;
$input-border-focus: $black;
$input-color-placeholder: $black;
$input-bg-disabled: $grey;

$state-success-text: $white;
$state-success-bg: $black;
$state-success-border: $black;

$state-info-text: $white;
$state-info-bg: $black;
$state-info-border: $black;

$state-warning-text: $white;
$state-warning-bg: $black;
$state-warning-border: $black;

$state-danger-text: $white;
$state-danger-bg: $black;
$state-danger-border: $black;

$state-error-text: $white;
$state-error-bg: $black;
$state-error-border: $black;

$input-group-addon-bg: $white;
$input-group-addon-border-color: $black;

// ----------------------------------------------------------------------------\
// Site Form.
// ----------------------------------------------------------------------------/

$btn-font-weight: 400;
$btn-default-color: $white;
$btn-default-bg: $black;
$btn-default-border: darken($btn-default-bg, 3%);
$btn-primary-color: $white;
$btn-primary-bg: $brand-c1;
$btn-primary-border: darken($btn-primary-bg, 5%);
$btn-success-color: $white;
$btn-success-bg: $black;
$btn-success-border: darken($btn-success-bg, 5%);
$btn-info-color: $white;
$btn-info-bg: $black;
$btn-info-border: darken($btn-info-bg, 5%);
$btn-warning-color: $white;
$btn-warning-bg: $black;
$btn-warning-border: darken($btn-warning-bg, 5%);
$btn-danger-color: $white;
$btn-danger-bg: $black;
$btn-danger-border: darken($btn-danger-bg, 5%);
$btn-link-disabled-color: $grey;
$link-hover-color: darken($link-color, 15%);