$z-main-header: 1000;
$z-project-cover: 900;
$z-project-title: 910;
$z-project-desc: 920;
$z-post-archive-header: $z-project-cover;
$z-post-loop: $z-project-desc;
$z-post-loop-bg: 1100;
$z-post-loop-fg: 1110;