/* ------ {{ html5 elements }} ------ */

/* ------ {{ Box Model }} ------ */

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

/* ------ {{ COMPASS BASELINE }} ------ */

// @include establish-baseline(1rem);

/* ------ {{ html }} ------ */

html {
    height: 100%;
    min-width: 320px;
    overflow: scroll;
}

/* ------ {{ body }} ------ */

body {
    display: block;
    min-width: 320px;
    min-height: 100%;
    color: $white;
    font-family: $ff-sans-regular;
    font-size: $p-font-size;
    line-height: $p-line-height;
    background-color: $brand-c2;

    &.single-excitement { background-color: $white; }
}

select {
    height: x(1);
    line-height: x(1);
}