.logo-anchor {
    display: block;
    width: 100%;
    height: 100%;
    color: currentColor;
    background-color: transparent;

    &:hover,
    &:visited,
    &:focus,
    &:active { color: currentColor; }

    .logo {
        width: 100%;
        height: 100%;
        display: block;
        pointer-events: none;
    }
}