#nav-lists {

    margin: 0;
    padding: 0;
    list-style: none outside none;

    @media screen and ( max-width: 980px ) {
        display: none;
    }


    & > li {

        // ------ {{ anchor }} ------ //

        & > a {
            display: block;
            color: $link-color;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0;
            position: relative;
            overflow: visible;

            // ------ {{* local *}} ------ //
            font-size: 10px;
            font-family: SansBold;
            letter-spacing: .1em;
            line-height: x(1.5);
            height: x(1.5);
            text-align: center;
            // padding: 0 8px;

            // border
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0; left: 5%;
                width: 90%;
                height: 1px;
                @media screen and (min-width: 1799px) {
                    left: 15%;
                    width: 70%;
                }
                background-color: $sc-copper;
            }
        }

        &.active,
        &.current-menu-parent,
        &.current-menu-ancestor,
        &:hover {
            & > a {
            }
        }
    }

    // ------ {{ on load }} ------ //
    
    & > li {
    }
}

#nav-lists > .menu-item > .sub-menu {

    & > .menu-item {

        & > a {
        }
        
        &.active,
        &:hover {
            & > a {

            }
        }
    }
}

#nav-lists > .menu-item-has-children:hover > .sub-menu {
    & > .menu-item {
    }
}