#nav-lists {

    margin: 0;
    padding: 0;
    list-style: none outside none;

    @media screen and ( max-width: 980px ) {
        display: none;
    }


    & > li {

        // ------ {{ anchor }} ------ //

        & > a {
            display: block;
            color: $link-color;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0;
            position: relative;
            overflow: visible;

            // ------ {{* local *}} ------ //
            font-size: 10px;
            font-family: SansBold;
            letter-spacing: .1em;
            line-height: x(1.5);
            height: x(1.5);
            text-align: center;
            // padding: 0 8px;

            // faux-border
            & > .inner {

                display: inline-block;
                position: relative;

                &:before {
                    transition: all .3s ease-in-out;
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    height: 2px;
                    margin: 0 0 0 0%;

                    // @media screen and (min-width: 1799px) {
                    //     left: 15%;
                    //     width: 70%;
                    // }
                    background-color: rgba($sc-copper, 0);
                }
            }

            &:hover > .inner:before,
            &.is-active > .inner:before {
                width: 100%;
                margin: 0 0 0 -50%;
                background-color: rgba($sc-copper, 1);
            }
            &:hover > .inner:before,{
                background-color: rgba($sc-grey, 1);
            }
        }
    }
}

.single-excitement #nav-lists {
    & > .menu-item {
        visibility: hidden;
    }
}

#main-header.is-secss {
    #nav-lists > .menu-item {
        visibility: hidden;
    }
}