@import "base/doc";

/* ------ {{ ie-toggle }} ------ */
$old: false;

/* ------ {{ normalize }} ------ */
@import "vendor/normalize/normalize";

/* ------ {{ compass-mixins }} ------ */
@import "vendor/compass-mixins/lib/compass";
@import "vendor/compass-mixins/lib/compass/layout";
@import "vendor/compass-mixins/lib/compass/support";
@import "vendor/compass-mixins/lib/animate";

/* ------ {{ sirna-functions }} ------ */
@import "function/sirna-parse-int";
@import "function/sirna-rem-px";
@import "function/sirna-unit-scale";

/* ------ {{ sirna-mixins }} ------ */
@import "mixin/sirna-clearfix";
@import "mixin/sirna-font-face";
@import "mixin/sirna-font-icon";
@import "mixin/sirna-media-query";
@import "mixin/sirna-transition";

/* ------ {{ base }} ------ */
@import "base/font";
@import "base/color";
@import "base/setting";
@import "base/z";

/* ------ {{ global object }} ------ */
@import "object/global/element";
@import "object/global/typography";
@import "object/global/page";
@import "object/global/main-head";
@import "object/global/main-nav";
@import "object/global/logo";
@import "object/global/preloader";

/* ------ {{ vendors }} ------ */
@import "vendor/fontawesome/font-awesome";
@import "vendor/flexslider/flexslider";
@import "vendor/formstone/background";
@import "vendor/formstone/carousel";