/*
    #sec_slides
        .slide-item
            .bgi
            .si-body
                .faux-bg
                .si-text[.h2]
                    p
 */

#sec_slides {

    position: fixed;
    top: 0;
    left: 0;

    max-width: 100vw;
    min-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    max-height: 100vh;
    height: 100vh;

    .hidden { display: none; }

    .slide-item {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .bgi {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    // Formstone
    .fs-carousel-controls {
        .fs-carousel-control {
            outline: 0;
        }
    }

    .fs-carousel-pagination {
        position: fixed;
        bottom: x(1);
    }

}