.debugger-item {
    display: none;
}

#debugger-container {

    @include clearfix;

    position: fixed;
    top: r(1rem);
    bottom: r(1rem);
    right: r(1rem);
    width: 240px;
    overflow: scroll;

    z-index: 999;

    .debugger-item {

        transition: background-color .1s ease-out, margin-left .1s ease-out;
        box-sizing: border-box;

        position: relative;

        display: block;
        float: left;
        min-width: 100%;
        width: auto;

        overflow-x: scroll;

        padding: r(2rem 1rem .25rem);
        margin: 0;

        color: rgba( #FFF, .5 );
        background-color: rgba( $grey, .1 );
        font-size: 10px;
        line-height: r(2rem);
        letter-spacing: 0.05em;

        border-bottom: 1px solid rgba( $black, .1 );

        white-space: pre;

        &:hover {
            transition: background-color .1s ease-out;
            background-color: #000;
            color: rgba( #FFF, 1 );
            cursor: pointer;
        }

        &.is-hidden {
            transition: margin-left .1s ease-out;
            margin-left: -100%;
        }
    }

    .debugger-info,
    .debugger-title {

        position: absolute;
        top: 0;
        left: r(1rem);
        right: r(1rem);
        font-size: 10px;
        line-height: r(2rem);
        min-height: r(2rem);
        height: r(2rem);
        width: 208px;
        color: rgba( #FFF, .3 );
        border-bottom: 1px solid rgba( $black, .1 );
    }

    .debugger-item:hover .debugger-info { border-bottom: 1px solid rgba( #FFF, .3 ); }
}