.project-type-header {

    @include clearfix;
    z-index: $z-post-archive-header;

    @media only screen and ( orientation: landscape ) {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        max-height: 100vh;
        height: 100vh;
    }
    @media only screen and ( orientation: portrait ) {
        position: relative;
        min-height: 100vh;
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
    }
}

.project-type-header {
    .pt-header-bg {
        min-height: 100%;
        max-height: 100%;
        height: 100%;
        width: 100vw;

        @media only screen and ( orientation: landscape ) {
            position: absolute;
            top: 0; left: 0;
        }

        .ptbg-lists {
            position: relative;
            max-height: 100%;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }

        .ptbgi {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .pt-header-fg {
        position: absolute;
        top: 0;
        z-index: $z-project-cover;
        width: 100%;
        height: 100%;
        padding: 0 x(1);
        display: table;

        @media only screen and ( orientation: landscape ) {
            margin: 0;
            width: 33.333%;
            max-width: x(15);
            min-width: x(12);
        }

        @media only screen and ( orientation: portrait ) {
            width: 100%;
            max-width: 100%;
            min-width: 0;
        }

        .ptfg-outer {
            display: table-cell;
            vertical-align: middle;
            padding-top: 0;
            @media only screen and ( max-height: 568px ) { padding-top: x(2); }
        }

        &.left { left: 0; right: auto; * { text-align: left; } }
        &.middle { position: relative; margin: 0 auto; * { text-align: left; } }
        &.right { left: auto; right: 0; * { text-align: right; } }

        .pt-title {
            text-transform: uppercase;
            margin: 0;
        }

        .pt-desc {
            text-transform: uppercase;
            color: inherit;
            max-height: x(12);
            overflow-y: scroll;
        }
    }
}