.home-section#hsConcept {
    .bgi,
    .content-faux-bg {
        @include clearfix;
        position: relative;
        width: 100%;
    }

    .bgi {
        background-color: rgba( $black, .5 );
        height: 75%;
    }

    .content-faux-bg {
        background-color: $sc-grey-dark;
        height: 25%;
    }

    .hs-content {
        position: relative;
        height: 25%;
        margin-top: 75%;

        display: table;

        .inner {
            display: table-cell;
            vertical-align: middle;

            .hsci-body {
                margin: 0;
                font-family: $ff-sans-regular;
                color: $white;
            }
        }
    }
}