.home-section#hsConcept {
    .bgi,
    .content-faux-bg {
        @include clearfix;
        position: relative;
        width: 100%;
    }

    .bgi {
        background-color: rgba( $black, .5 );
        @media screen and (max-width: 981px) { height: 60%; }
        height: 75%;
    }

    .content-faux-bg {
        background-color: $sc-grey-dark;
        @media screen and (max-width: 981px) { height: 40%; }
        height: 25%;
    }

    .hs-content {
        position: relative;
        height: 25%;
        @media screen and (max-width: 981px) { margin-top: 60vh; }
        margin-top: 75vh;

        display: table;

        .inner {
            display: table-cell;
            vertical-align: middle;

            .hsc-title {
                transition: all .3s ease-out .3s;

                position: fixed;
                top: x(-15);
                left: 0;
                width: 50%;
                height: 100%;

                pointer-events: none;
                display: table;
                color: rgba($white, 0);

                @media screen and ( max-width: 980px ) {
                    top: x(-6);
                    width: 100%;
                }

                @media screen and (max-height: 480px) {
                    top: x(-4);
                }

                .hsc-title-text {
                    display: table-cell;
                    vertical-align: middle;
                    height: r(4);
                    @media screen and ( max-width: 768px ) {
                        text-align: center;
                    }
                }

                .hsc-title-text > span {
                    display: inline-block;
                    position: relative;
                    font-size: r(3.75);
                    line-height: r(4);
                    letter-spacing: .05em;

                    @media screen and ( max-width: 768px ) {
                        font-size: r(2);
                        line-height: r(4);
                    }

                    &.t-2 {

                        top: r(2.5);
                        padding-top: r(.5);
                        font-family: $ff-sans-thin;

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: x(-15); left: 0.2em; right: 0.15em;
                            height: 2px;
                            background-color: $white;
                        }
                    }
                }

                &.has-loaded {
                    transition: all .3s ease-out .3s;

                    color: rgba($white, 1);
                    top: x(-5);

                    .hsc-title-text > span.t-2:before {
                        transition: top .5s ease-out .3s;
                        top: 0;
                    }
                }
            }

            .hsc-body {
                margin: 0 0 x(1) 0;
                padding: 0 x(3);
                font-family: $ff-sans-regular;
                color: $white;

                @media screen and (max-width: 769px) {
                    padding: 0 x(1);
                }

                @media screen and (max-height: 480px) {
                    font-size: 10px;
                    letter-spacing: 0.1em;
                    line-height: 1.5;
                    text-align: center;
                }
            }

            .hsc-btn {
                font-size: 11px;
                margin: 0 auto;
                width: x(4.5);
                position: relative;

                @include sec-btn;

                .gt { margin-left: 1em; }
            }
        }
    }
}