.hidden {
    display: none !important;
}

$line1: x(1.5);

.home-section#hsContact {

    // FORMSTONE
    @media screen and (max-height: x(23)) {
        & > .fp-tableCell {
            vertical-align: bottom;
        }
    }

    .faux-bg {
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0 0 0 -50vw;
        width: 100vw;
        height: 100vh;
        background-color: $sc-grey-dark;
        z-index: -1;
    }

    .hsc-head {
        color: $white;

        .hsc-head, .hsc-body {
            p, h2, h3 { color: currentColor; }
        }
    }

    .hsc-head {
        @media screen and ( orientation: portrait ) and ( max-height: 815px ) { display: none; }
    }

    .hsc-body {

        @media screen and ( orientation: portrait ) and ( max-width: 980px ) {
            width: 100%;
        }

        @media screen and ( max-width: 980px ) and ( max-height: 648px ) {
            max-height: x(14);
            overflow: scroll;
        }
    }

    .hsch-first {
        // min-height: x(4);
        height: x(4);

        @media screen and ( max-width: 768px ) {
            // min-height: x(2);
            height: x(2);            
        }

        .text {
            position: fixed;
            left: 0;
            font-family: $ff-sans-heavy;
            letter-spacing: 0.05em;
            width: auto;
            text-align: left;

            max-width: 7em;
            width: 7em;

            @media screen and ( max-width: 768px ) {
                line-height: 2rem;
                font-size: 1.5rem;
                text-align: center;
                max-width: 100%;
                width: 100%;
            }
        }
    }

    .hsch-second {
        @media screen and ( max-width: 768px ) {
            max-width: 100%;
            width: 100%;
            text-align: center;
        }
    }

    // FORM

    .control-group-row {
        @include clearfix;
        margin: 0 0 x(1.5) 0;
        &.test { background-color: aliceblue; }

        @media screen and ( max-width: 980px ) {
            margin: 0 0 0 0;
        }

        @media screen and ( max-width: 479px ) {
            margin: 0 x(1);
        }

        .control-wrapper {
            margin: 0 0 0 0;

            @media screen and ( max-width: 980px ) {
                margin: 0 0 x(1) 0;
            }
            
            &.control-size-large {
                margin: 0 0 x(1) 0;
            }
        }
    }

    .faux-label {
        position: relative;
        height: $line1;
        margin-bottom: -$line1;

        @media screen and ( max-width: 980px ) {
            display: none;
        }

        .faux-label-inner {
            position: relative;
            top: 0;
            transition: top .1s linear;
            display: block;
            position: relative;
            line-height: $line1;
            font-size: 10px;
            padding: r(.5) 0 0 0;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $sc-copper;
            pointer-events: none;
        }

        &.is-focus {
            .faux-label-inner {
                transition: top .1s linear;
                top: -$line1;
                color: $white;
            }
        }
    }

    .control-group {
        display: block;
        position: relative;
        width: 100%;

        border: 2px solid rgba($sc-copper, 1);

        &.test { background-color: antiquewhite; }

        &.one-liner {
            max-height: $line1;
            height: $line1;
            overflow: hidden;
        }

        &.borderless { border: 0; }

        .control-label-inner {
            transition: top .1s linear;
            position: absolute;
            top: 0;
            padding: 0 r(.5);
            height: x(1.5);
            width: 100%;
            line-height: x(1.5);
            background-color: $white;
            pointer-events: none;
            color: $sc-copper;
        }

        &.one-liner.is-focus {
            .control-label-inner {
                transition: top .1s linear;
                top: x(-1.5);
            }
        }
    }

    .control-input[type="text"] {
        display: block;
        min-height: x(1.5);
        padding: 6px r(.5) 10px;
        border: 0;
        outline: 0;
        @include border-radius(0);
        width: 100%;
        background-color: $sc-copper;
        color: $white;
    }

    textarea.control-input {
        display: block;
        min-height: x(1.5);
        padding: 6px r(.5) 10px;
        border: 2px solid $sc-copper;
        outline: 0;
        @include border-radius(0);
        width: 100%;
        background-color: $white;
        color: $sc-grey-dark;
        resize: vertical;
        
        @include s-placeholder {
            color: $sc-copper;
        }
    }

    .control-submit {
        display: block;
        height: x(1.5);
        line-height: x(1.5);
        text-decoration: none;
        text-align: left;

        // @media screen and ( max-width: 980px ) {
        //     text-align: left;
        // }

        @media screen and ( min-width: 1250px ) {
            text-align: right;
        }

        span {
            display: inline-block;
            background-color: $white;
            border: 2px solid $sc-copper;
            padding: 0 1em;
        }
    }
    
    .fs-dropdown {
        margin: 0;

        .fs-dropdown-selected {
            @include border-radius(0);
            border: 2px solid $sc-copper;
            padding: 6px r(.5) 10px;
            outline: 0;
            height: x(1.5);
            line-height: 20px;
            letter-spacing: 0.08em;
            font-size: 12px;

            &:after {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $sc-copper;
            }
        }

        .fs-dropdown-open,
        .fs-dropdown-focus, {
            .fs-dropdown-selected {
                box-shadow: none;
                @include border-radius(0);
                border: 2px solid $sc-copper;
                outline: 0;
            }   
        }

        .fs-dropdown-options {
            width: 100%;
            max-height: x(9);
            position: absolute;
            top: 100%;
            left: 0;
            border: 2px solid $sc-copper;
            border-width: 0 2px 2px;
            @include border-radius(0);
            box-shadow: 0;
            background-color: $white;
            // display: none;
            margin: 0 0 0 0;
            overflow: auto;
            overflow-x: hidden;
            padding: 0;
            z-index: 50;
        }

        .fs-dropdown-item {
            width: 100%;
            height: $line1;
            border: 0;
            border-bottom: 2px solid $sc-copper;
            font-size: 12px;
            line-height: $line1;
            padding: 0 7px;
            &:last-of-type {
                border-bottom: 0;
                @include border-radius(0);
            }
        }

        .fs-dropdown-item_selected {
            background-color: $sc-copper;
            color: $white;
        }
    }

    .control-label-xx-inner {
        position: absolute;
        top: 0;
        padding: 0 8px;
        max-height: $line1;
        height: $line1;
        width: 100%;
        overflow: hidden;
        line-height: $line1;
        color: $sc-copper;
        background-color: $white;
        border: 2px solid $sc-copper;
        z-index: 10;
        pointer-events: none;

        & > span {
            transition: top 0.1s linear;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }
    .is-focus .control-label-xx-inner {
        background-color: transparent;
        & > span {
            transition: top 0.1s linear;
            top: -100%;
        }
    }
}