.home-section#hsMasterplan {

    .hsc-body {
        width: 100%;
        height: 100vh;
        display: table;
    }

    .mp-svg-wrapper {
        position: relative;
        z-index: 9999;
        display: table-cell;
        vertical-align: middle;
    }
}

.home-section#hsMasterplan .mp-svg-wrapper {

    .spot:hover { cursor: pointer; }

    .no-spot { pointer-events: none; }

    .mp-area {
        transition: opacity .5s ease-out;
        opacity: 0;
    }

    .is-hovered {
        transition: opacity .5s ease-out;
        opacity: 1;
    }

    .mp-path {
        fill: rgba($white, 1);
        stroke: $white;
        stroke-width: 1px;
    }

    .mp_label {

        transition: transform .3s ease-out;
        transform: translate( 0, 48px );

        .txt-rect-0 {
            fill:#B05158;
        }

        .txt-rect-1 {
            fill:none;
            stroke:#B05158;
            stroke-width:2;
            stroke-miterlimit:10;
        }

        text {
            fill: $white;
            font-family: $ff-sans-bold;
            font-size: 24px;
            letter-spacing: 2;
        }
    }

    .is-hovered {
        .mp-path {
            stroke-width: 6px;
        }

        .mp_label {
            transition: transform .3s ease-out;
            transform: translate( 0, 0 );
        }
    }
}