.home-section#hsMasterplan {

    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 -50vw;
    left: 50%;

    .hsc-body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50vh 0 0 -50vw;
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .mp-svg-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50vh 0 0 -50vw;
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 9998;

        & > svg {
            transform: translateY(-50%);
            position: relative;
            top: 50%;

            width: 110vw;
            margin: 0 0 0 -5vw;

            @media screen and ( min-aspect-ratio: 4/3 ) {
                width: 100vw;
                margin: 0 0 0 0;
            }
            @media screen and ( min-aspect-ratio: 5/3 ) {
                width: 90vw;
                margin: 0 0 0 5vw;
            }
        }
    }

    .mp-zoom-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50vh 0 0 -50vw;
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        transition: opacity .3s ease-out .3s;
        opacity: 0;

        &.is-active {
            transition: opacity .3s ease-out .3s;
            opacity: 1;
        }
    }
}

.home-section#hsMasterplan .mp-svg-wrapper {

    // transform: scale(2);

    .spot:hover { cursor: default; }

    .no-spot { pointer-events: none; }

    .mp-area {
        transition: opacity .5s ease-out;
        opacity: 0;
    }

    .is-hovered {
        transition: opacity .5s ease-out;
        opacity: 1;
    }

    .mp-path {
        fill: rgba($white, 1);
        stroke: $white;
        stroke-width: 1px;
    }

    .mp_label {

        transition: transform .3s ease-out;
        transform: translate( 0, 48px );

        .txt-rect-0 {
            fill:#B05158;
        }

        .txt-rect-1 {
            fill:none;
            stroke:#B05158;
            stroke-width:2;
            stroke-miterlimit:10;
        }

        text {
            fill: $white;
            font-family: $ff-sans-bold;
            font-size: 24px;
            letter-spacing: 2;
        }
    }

    .is-hovered {
        .mp-path {
            stroke-width: 6px;
            cursor: default;
        }

        .mp_label {
            transition: transform .3s ease-out;
            transform: translate( 0, 0 );
        }
    }
}

.home-section#hsMasterplan .mp-controls {
    z-index: 9999;
    width: x(3.5);
    height: x(2);
    position: absolute;
    bottom: x(2);
    left: 50%;
    margin: 0 0 0 x(-1.75);
    padding: x(.5);
    background-color: rgba( $sc-grey, .1 );

    .mp-zoom-btn {
        display: inline-block;
        max-width: x(1);
        max-height: x(1);
        width: x(1);
        height: x(1);
        overflow: hidden;
        line-height: x(1);
        text-align: center;
        border-radius: x(.5);
        border: 1px solid $sc-copper;
        color: $sc-copper;

        &.zoom-in {
            margin: 0 x(.25) 0 0;
        }
        &.zoom-out {
            margin: 0 0 0 x(.25);
        }
    }
}