.home-section#hsProject {
    .hs-bg {
        & > .bgi {
            @include clearfix;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba( $black, .5 );
        }
    }

    .hs-content {
        position: relative;
        width: 100%;
        height: 100%;

        .inner {
            position: relative;
            max-width: 100%;
            max-height: 100vh;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
    }
}

#page #main .home-section#hsProject .hs-content {
    .hsc-body-outer {

        transition-property: top, opacity;
        transition-duration: 0.6s, 1s;
        transition-timing-function: ease-out;
        transition-delay: 0.7s, 0.8s;

        opacity: 1;
        position: absolute;
        left: 0;
        width: 100%;
        height: x(10);
        top: 50vh;
        margin-top: x(-2);
        @media screen and (max-width: 980px) {
            height: 50vh;
        }

        &.is-preloading {
            opacity: 0;
            top: 200vh;
        }
    }

    .hsc-body-inner {
        height: 100%;
    }

    .hsc-body {
        @media screen and (max-width: 980px) {
            margin-left: auto !important;
            margin-right: auto !important;
            float: none;
            padding: 0 x(1);
        }

        height: 100%;
    }

    .hsc-body-content {
        background-color: rgba($white, .8);
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow: scroll;
        padding: x(1);

        color: $black;

        -webkit-columns: 1 0;
        -moz-columns: 1 0;
        columns: 1 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;

        @media screen and (max-width: 980px) {
            padding: x(1);
        }

        @media screen and (min-width: 981px) {
            -webkit-columns: 2 r(10);
            -moz-columns: 2 r(10);
            columns: 2 r(10);
            -webkit-column-gap: x(1);
            -moz-column-gap: x(1);
            column-gap: x(1);
        }

        .bodycopy {
            max-height: 70%;
            @media screen and (max-width: 980px) and (min-width: 480px) {
                overflow: scroll;
                font-size: r(1);
                line-height: r(1.5);
                max-height: 80%;
                // border-bottom: 1px solid $sc-grey;
            }

            @media screen and (max-width: 479px) {
                overflow: scroll;
                font-size: r(0.8);
                line-height: r(1.5);
                max-height: 100%;
                margin: 0;
            }
        }
    }

    .hsc-btn {
        font-size: 11px;
        margin: 0;
        position: absolute !important;

        width: 50%;
        right: 25%;
        bottom: x(1);

        @media screen and (min-width: 980px) {
            width: 30%;
            right: 10%;
            bottom: x(1);
        }

        @include sec-btn;

        .gt { margin-left: 1em; }
    }
}

.home-section#hsProject {
    .hs-content .hsc-title {
        position: relative;
        width: 100%;
        height: 100%;

        .bgi-outer {

            transition-property: top, opacity;
            transition-duration: 0.6s, 1.2s;
            transition-timing-function: ease-out;
            transition-delay: 0.3s, 0.6s;

            opacity: 1;
            position: absolute;
            top: 50%; left: auto;
            overflow: hidden;
            max-width: 75%;
            width: 75%;
            max-height: x(10);
            height: x(10);
            margin-top: x(-7);

            @media screen and (min-width: 1801px) {
                max-height: x(15);
                height: x(15);
                margin-top: x(-9.5);
                left: auto;
            }

            @media screen and (max-width: 980px) and (min-width: 768px) {
                max-width: 100%;
                width: 100%;
                max-height: x(7);
                height: x(7);
                top: x(8);
                margin: 0;
                left: auto;
            }
            @media screen and (max-width: 767px) and (min-width: 480px) {
                max-width: 100%;
                width: 100%;
                max-height: x(5);
                height: x(5);
                top: x(5);
                margin: 0;
                left: auto;
            }
            @media screen and (max-width: 479px) and (min-width: 0) {
                max-width: x(12);
                width: x(12);
                max-height: x(4);
                height: x(4);
                left: 50%;
                top: x(5);
                margin: 0 0 0 x(-6);
            }

            &.is-preloading {
                transition-property: top, opacity;
                transition-duration: 0.5s;
                transition-timing-function: ease-out;
                transition-delay: 0.3s;
                top: x(-15);
                opacity: 0;
            }

            .bgi {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}