.home-section#hsProject {
    .hs-bg {
        & > .bgi {
            @include clearfix;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba( $black, .5 );
        }
    }

    .hs-content {
        position: relative;
        width: 100%;
        height: 100%;

        .inner {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}

#page #main .home-section#hsProject .hs-content {
    .hsc-body-outer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: x(10);
        top: 50%;
        margin-top: x(-2);
        @media screen and (max-width: 980px) {
            height: 50vh;
            margin-top: -25vh;
        }
    }

    .hsc-body-inner {
        height: 100%;
    }

    .hsc-body {
        @media screen and (max-width: 980px) {
            margin-left: auto !important;
            margin-right: auto !important;
            float: none;
            padding: 0 x(1);
        }

        height: 100%;
    }

    .hsc-body-content {
        background-color: rgba($white, .8);
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow: scroll;
        padding: x(.5);

        color: $black;

        -webkit-columns: 1 0;
        -moz-columns: 1 0;
        columns: 1 0;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;

        @media screen and (min-width: 981px) {
            -webkit-columns: 2 r(10);
            -moz-columns: 2 r(10);
            columns: 2 r(10);
            -webkit-column-gap: x(1);
            -moz-column-gap: x(1);
            column-gap: x(1);
        }

        .bodycopy {
            max-height: 80%;
            @media screen and (max-width: 980px) {
                overflow: scroll;
            }
        }
    }
}

.home-section#hsProject {
    .hs-content .hsc-title {
        position: relative;
        width: 100%;
        height: 100%;

        .bgi-outer {

            position: absolute;
            top: 50%;
            overflow: hidden;
            max-width: 75%;
            width: 75%;
            max-height: x(10);
            height: x(10);
            margin-top: x(-5);

            @media screen and (max-width: 980px) and (min-width: 768px) {
                max-width: 100%;
                width: 100%;
                max-height: x(7);
                height: x(7);
                margin-top: x(-3.5);
            }
            @media screen and (max-width: 767px) and (min-width: 480px) {
                max-width: 100%;
                width: 100%;
                max-height: x(5);
                height: x(5);
                margin-top: x(-2.5);
            }
            @media screen and (max-width: 479px) and (min-width: 0) {
                max-width: 100%;
                width: 100%;
                max-height: x(4);
                height: x(4);
                margin-top: x(-2);
            }

            .bgi {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}