.home-section {

    position: relative;

    .hs-bg {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50vw;
        width: 100vw;
        height: 100vh;

        z-index: -1;
        pointer-events: none;

        &.test {
            background-color: $sc-copper;
            border: 1px solid gold;
        }
    }
}

.home-section#hsConcept {
    .bgi,
    .content-faux-bg {
        @include clearfix;
        position: relative;
        width: 100%;
    }

    .bgi {
        background-color: rgba( $black, .5 );
        height: 75%;
    }

    .content-faux-bg {
        background-color: $sc-grey-dark;
        height: 25%;
    }
}