.home-section {

    position: relative;

    .hs-bg {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50vw;
        width: 100vw;
        height: 100vh;

        z-index: -1;
        pointer-events: none;

        &.test {
            background-color: $sc-copper;
            border: 1px solid gold;
        }
    }
}