.home-section#hsUpdate {

    .faux-bg {
        position: absolute;
        top: 0; left: 50%;
        margin: 0 0 0 -50vw;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        pointer-events: none;
        background-color: $white;
    }

    .update-header {
        position: relative;
        width: 100%;
        height: 30vh;
        display: table;
        padding: x(2) 0 0 0;

        .update-title {
            font-size: r(4);
            color: $sc-copper;
            display: table-cell;
            vertical-align: middle;
            line-height: r(4);
            margin: 0;

            .first, .second {
                display: block;
                width: 100%;
            }
            .first { font-family: $ff-sans-thin; }
            .second { font-family: $ff-sans-bold; }
        }
    }

    .loops {
        @include clearfix;
        max-width: 100%;
        width: 100%;
        max-height: 60vh;
        height: 70vh;
        overflow: scroll;
    }

    .loop-item {
        position: relative;
        width: 25%;
        padding: 0 x(.25);
        margin: 0 0 x(1) 0;
        float: left;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: x(.25); right: x(.25);
            height: 1px;
            background-color: $sc-copper;
        }

        .item-thumb-outer {
            display: block;
            max-width: 100%;
            width: 100%;
            // position: absolute;
            // top: x(.5); left: 0; right: 0;
            max-height: x(6);
            height: x(6);
            overflow: hidden;
            margin: 0 0 x(.5);
            padding: x(.5) 0 0 0;
        }

        .item-header {
            // margin-top: x(6.5);
        }

        .item-time {
            color: $sc-copper;
            font-size: 9px;
            line-height: x(1);
            height: x(1);
            margin: 0;
        }

        .item-title-link {
            display: block;
            width: 100%;
            margin: 0 0 x(.5) 0;
            color: $sc-copper;

            .item-title {
                margin: 0;
            }
        }

        .item-body {
            & > p {
                color: $black;
                line-height: r(1);
                font-size: 11px;
                letter-spacing: 0.05em;
                margin: 0;
            }

            p + p {
                margin-top: r(1);
            }

            p:last-of-type {
                margin-bottom: x(.5);
            }
        }

        .item-link {
            display: block;
            width: 100%;
            height: x(1);
            line-height: x(1);
            padding: 0 x(0.5);
            border: 1px solid $sc-copper;
            font-size: 11px;
            color: $sc-copper;
            margin: 0;

            &:hover {
                background-color: $sc-copper;
                color: $white;
            }
        }
    }
}